#titulo_principal {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#titulo_princ{
    text-align: center;
    margin: 2rem;
}

.enlaces_nav{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 25px;
}

.d-block{
    display: block;
}

.m-top{
    margin-top: 5rem;
}


.img-size{
    height: 255px;
    width: 255px;
}

.titulos-productos{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.titulos-productos:hover{
    color: aquamarine;
    text-decoration: none;
}